In [5]:
#Exercise 3.17:
#A
i=eval('2*3+1')
print(i)

7

In [27]:
#b
s=eval('hello')
#we used double quotations to input hello with single quotation
print(s)

NameError: name 'hello' is not defined

In [21]:
#c
s=eval("'hello' + ' ' + 'world!'")
print(s)

hello world!

In [22]:
#d
s=eval("'ASCII'.count('I')")
print(s)

2

In [26]:
#e
s=eval('x = 5')
print(s)

SyntaxError: invalid syntax (<string>, line 1)

In [29]:
#e
s=eval("'x = 5'")
print(s)

x = 5

In [ ]:
"""There is error in b part cause the word hello is not written in double quotations. is we write it as eval("'hello'") 
the code will execute correctly.
The next error is in part e because again the string is not written in double quotations. Until the string is not written in
double quotations python wont execute it."""

In [33]:
#3.18
a,b,c=3,4,5
#a
if a<b:
    print("OK")
#b
if c<b:
    print("OK")
#c
if a+b==c:
    print("OK")
#d 
if (a**2)+(b**2)==(c**2):
    print("OK")

OK
OK

In [34]:
#3.19
a,b,c=3,4,5
#a
if a<b:
    print("OK")
else:
    print("Not Ok")
#b
if c<b:
    print("OK")
else:
    print("Not Ok")
#c
if a+b==c:
    print("OK")
else:
    print("Not Ok")
#d 
if (a**2)+(b**2)==(c**2):
    print("OK")
else:
    print("Not Ok")

OK
Not Ok
Not Ok
OK

In [49]:
#3.20
lst=['January', 'February', 'March']
for x in lst:
    print(x[:3])

Jan
Feb
Mar

In [52]:
#3.21:
lst=[2, 3, 4, 5, 6, 7, 8, 9]
for x in lst:
    if x%2==0:
        print(x)

2
4
6
8

In [54]:
#3.22:
lst=[2, 3, 4, 5, 6, 7, 8, 9]
for x in lst:
    if (x**2)%8==0:
        print(x)

4
8

In [57]:
#3.23:
#a
for num in range(2):
    print(num)

0
1

In [58]:
#b
for num in range(1):
    print(num)

0

In [59]:
#c
for num in range(3,7):
    print(num)

3
4
5
6

In [62]:
#d
for num in range(1,2):
    print(num)

1

In [68]:
#e
for num in range(0,4,3):
    print(num)

0
3

In [72]:
#f
for num in range(5,22,4):
    print(num)

5
9
13
17
21

In [1]:
#PROBLEM 3.24:
lst=eval(input("Enter the list: "))
for x in lst:
    if x!= 'secret' :
        print(x)

Enter the list: ['cia', 'secret', 'mi6', 'isi', 'secret']
cia
mi6
isi

In [10]:
#3.25:
lst=eval(input("Enter the list of student's names: "))
for x in lst:
    if x[0] in 'abcdefghijklmABCDEFGHIJKLM' :
        print(x)

Enter the list of student's names: ['Ellie', 'Steve', 'Sam', 'Owen', 'Gavin']
Ellie
Gavin

In [3]:
#3.26
lst=eval(input("Enter the list"))
print("The first element is",lst[0])
print("The last element is",lst[-1])

Enter the list[1, 2, 3, 4, 5, 6, 7]
The first element is 1
The last element is 7

In [9]:
#3.27
n=eval(input("Enter any positive integer: "))
print(n*0,'\n',n*1,'\n',n*2,'\n',n*3)

Enter any positive integer: 5
0
 5
 10
 15

In [114]:
#3.28
n=int(input("Enter any integer: "))
for x in range(n):
    y=x**2
    if y<n**2:
        print(y)

Enter any integer: 3
0
1
4

In [21]:
#3.29:
n=int(input("Enter any integer: "))
for x in range(1,n+1):
    if n%x == 0:
        print(x)

Enter any integer: 49
1
7
49

In [16]:
#3.30:
a=eval(input("Input first number: "))
b=eval(input("Input second number: "))
c=eval(input("Input third number: "))
d=str(input("Input last number: "))
#for average of first 3 numbers
avg3=str((a+b+c)/3)
#Comparison with fourth
#for tavg in avg3:
if avg3==d:
    print("Equal")

Input first number: 4.5
Input second number: 3
Input third number: 3
Input last number: 3.5
Equal

In [27]:
#3.31: 
x=float(input("Enter x coordinate: "))
y=float(input("Enter y coordinate: "))
#The equation of circle at origin is x**2+y**2=r**2
eq=float((0**2)+(0**2)==(8**2))
#print(eq)
eq2=float((x**2)+(y**2)==(8**2))
if eq<=eq2:
    print("IT IS IN!")

Enter x coordinate: 2.5
Enter y coordinate: 4
IT IS IN!

In [66]:
#3.32:
x=int(input("Enter a four digit integer: "))
#x=int(1234)
a=x//1000
print(a)
b=(x//100) - (a*10)
print(b)
c=(x//10) - ((x//100)*10)
print(c)
d=x- ((x//10)*10)
print(d)

Enter a four digit integer: 1234
1
2
3
4

In [72]:
#3.33:
x=str(input("Enter a three letter word: "))
#print(x[::-1])
def reverse_string(x):
    #for rev in x:
     #   rev= (x[::-1])
    return x[::-1]

Enter a three letter word: UIT

In [73]:
>>> reverse_string(x)

'TIU'

In [79]:
#3.34:
noh=int(input("Enter the number of hours: "))
hwage=int(input("Enter the hourly wage: "))
def pay(noh, hwage):
#    for x in pay:
    if noh<40:
        print("Pay is",noh*hwage)
    if noh>=40:
        print("Pay is",(noh*1.5)*hwage)

Enter the number of hours: 50
Enter the hourly wage: 2

In [80]:
>>> pay(noh, hwage)

Pay is 150.0

In [78]:
>>> pay(30, 2)

Pay is 60

In [117]:
# 3.35:
n=int(input("Enter the number of flips of coin: "))
#For probability of n heads in a row
def prob(n):
    a=2**(-n)
    return a

Enter the number of flips of coin: 2

In [112]:
>>> prob(1)

0.5

In [118]:
>>> prob(n)

0.25

In [126]:
#3.36:
x=int(input("Enter three digit integer: "))
def reverse_int(x):
    a=x%10
    b=(x%100 - x%10)//10
    c=x//100
    print(a,b,c)

Enter three digit integer: 123

In [127]:
>>> reverse_int(x)

3 2 1

In [109]:
#3.37:
x1=eval(input("Enter x1 coordinate: "))
y1=eval(input("Enter y1 coordinate: "))
x2=eval(input("Enter x2 coordinate: "))
y2=eval(input("Enter y2 coordinate: "))
xx=(x2-x1)
yy=(y2-y1)
def points(x1,y1,x2,y2):
    if yy!=0:
        s=float(yy/xx)
        print("The slope is",s,"and the distance is",distance)
    #else:
       # s="Infinity"
        #print("The slope is infinity and the distance is",distance)
import math
sq1 = (x1-x2)*(x1-x2)
sq2 = (y1-y2)*(y1-y2)
distance = math.sqrt(sq1 + sq2)

Enter x1 coordinate: 0
Enter y1 coordinate: 0
Enter x2 coordinate: 1
Enter y2 coordinate: 1

In [110]:
>>> points(x1,y1,x2,y2)

The slope is 1.0 and the distance is 1.4142135623730951

In [128]:
#3.38:
day=input("Enter the name of the day: ")
def abbreviation(day):
    return day[:2]

Enter the name of the day: Tuesday

In [129]:
>>> abbreviation(day)

'Tu'

In [38]:
#3.39
#for circle 1:
import math
x1=float(input("Enter the x-coordinate of first circle: "))
y1=float(input("Enter the y-coordinate of first circle: "))
r1=float(input("Enter the radius of the first circle: "))
x2=float(input("Enter the x-coordinate of second circle: "))
y2=float(input("Enter the y-coordinate of second circle: "))
r2=float(input("Enter the radius of the second circle: "))
radius_sum=r1+r2
radius_diff=r1-r2
centre_dis=math.sqrt((x1-x2)**2)+((y1-y2)**2)
def collision(x1,y1,r1,x2,y2,r2):
    if centre_dis>=radius_diff and centre_dis<=radius_sum:
        print("True")
    else:
        print("False")

Enter the x-coordinate of first circle: 0
Enter the y-coordinate of first circle: 0
Enter the radius of the first circle: 1.4
Enter the x-coordinate of second circle: 2
Enter the y-coordinate of second circle: 2
Enter the radius of the second circle: 1.4

In [39]:
>>> collision(x1,y1,r1,x2,y2,r2)

False

In [50]:
#3.40:
#names=['Eleanor', 'Evelyn', 'Sammy', 'Owen', 'Gavin']
names=eval(input("Enter the names in the form of lists:"))
def partition(names):
    for name in names:
        if name[0] in 'abcdefghijklmABCDEFGHIJKLM':
            print(name)

Enter the names in the form of lists:['Eleanor', 'Evelyn', 'Sammy', 'Owen', 'Gavin']

In [51]:
>>> partition(names)

Eleanor
Evelyn
Gavin

In [76]:
#3.41:
fn=str(input("Enter the first name: "))
ln=str(input("Enter the last name :"))
def lastF(fn,ln):
    print(ln,",",fn[0],".")

Enter the first name: Bilal
Enter the last name :Nasir

In [77]:
>>> lastF(fn,ln)

Nasir , B .

In [78]:
#3.42:
s1=eval(input("Enter the marks of first student"))
s2=eval(input("Enter the marks of second student"))
s3=eval(input("Enter the marks of third student"))
s4=eval(input("Enter the marks of fourth student"))
def avg(s1,s2,s3,s4):
    a=sum(s1)/float(len(s1))
    print(a)
    b=sum(s2)/float(len(s2))
    print(b)
    c=sum(s3)/float(len(s3))
    print(c)
    d=sum(s4)/float(len(s4))
    print(d)

Enter the marks of first student[95, 92, 86, 87]
Enter the marks of second student[66, 54]
Enter the marks of third student[89, 72, 100]
Enter the marks of fourth student[33, 0, 0]

In [79]:
>>> avg(s1,s2,s3,s4)

90.0
60.0
87.0
11.0

In [104]:
#3.43:
x1=eval(input("Enter first x coordinate: "))
y1=eval(input("Enter first y coordinate: "))
r=eval(input("Enter radius: "))
x2=eval(input("Enter second x coordinate: "))
y2=eval(input("Enter second y coordinate: "))
def hit(x1,y1,r,x2,y2):
    import math
    dist=math.sqrt(((x1-x2)**2)+((y1-y2)**2))
    if dist<=r:
        print("True")
    else:
        print("False")

Enter first x coordinate: 0
Enter first y coordinate: 0
Enter radius: 3
Enter second x coordinate: 3
Enter second y coordinate: 0

In [105]:
>>> hit(x1,y1,r,x2,y2)

True

In [98]:
#3.44:
d=float(input("Enter the number: "))
def distance(d):
    dist=0.34029*d
    print("Distance is ",dist)

Enter the number: 3

In [99]:
>>> distance(d)

Distance is  1.02087